/* reset the html style  */
*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
li{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
